@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@keyframes slideUp {
	0% {
		transform: translateY(0);
	}

	95% {
		transform: translateY(-50%);
		opacity: 1;
		filter: blur(0);
	}

	97% {
		transform: translateY(-50%);
		opacity: 0;
		filter: blur(10px);
	}

	98% {
		transform: translateY(0);
		opacity: 0;
		filter: blur(10px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
		filter: blur(0);
	}
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
::after,
::before {
	box-sizing: border-box;
}

a,
a:hover,
a:link,
a:visited {
	text-decoration: none;
}

aside,
footer,
header,
legend,
main,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img,
svg {
	max-width: 100%;
	height: auto;
}

address {
	font-style: normal;
}

input,
select,
textarea {
	background-color: transparent;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
}

input::-ms-clear {
	display: none;
}

button,
input[type=submit] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: 0 0;
	cursor: pointer;
}

button:active,
button:focus,
input:active,
input:focus {
	outline: 0;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}